@CHARSET "UTF-8";
/*head*/
body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background: url("../image/mainbg.png") repeat-y;
    -webkit-background-size: cover;
}
.navbar-inverse{
    margin-top: 30px;
    background-color: #E6E6E6;
    border-color: transparent;
    height: 25px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #E6E6E6;
    /*background-color: #080808;*/
}
.head .logo{
    width: auto;
    height: 78px;
    background-image: url("../image/logo.png");
}
.head .content{
    margin-top: 0px;
}
.welcome{
    float: left;
    width: 50%;
    height: 20px;
}
.infodisplay{
    float: right;
    position: relative;
    width: 50%;
    height: 20px;
}

/*writeArticle*/
#title{
    width: 95%;
    height: 30px;
    opacity: 0.3;
}
.notify{
    margin-top: -30px;
}
.text{
    /*margin-top: 70px;*/
    width: 100%;
    height:auto;
}
.btn_group .btns{
    margin: 10px auto;
    width: 20%;
}
.btn_group .btns #submit{
    float: left;
}.btn_group .btns #cancel{
    float: right;
}

/*displayArticle*/
.left{
    width: 18%;
    height: 600px;
    float: left;
}
.left .top,.bottom{
    width: 90%;
    height: 50%;
}
.right{
    width: 82%;
    height: 600px;
    float: right;
    /*border: 1px solid #1392e9;*/
}
.right .content .article{
    height: 20px;
    /* margin: 10px 0px; */
    left: 10px;
   /* border: 1px solid #1392e9;*/
}
.content .article .picture{
	margin-top:-8px;
    width: 6%;
    height: 15px;
    float: left;
    /*border: 1px solid #1392e9;*/
}
.content .article .title{
	margin-top: -5px;
    width: 92%;
    height: 16px;
    float: left;
    overflow: hidden;
    /*border: 1px solid #1392e9;*/
}
.content .article .title h4{
	 margin-top: 0px
}
.content .article .info .info-left,.info-right{
    width: 50%;
    height: 5px;
    margin-top: -2px;
    float: left;
    /*border: 1px solid #1392e9;*/
}

/*
 *articleDetail
 */
 .article{
    width: 100%;
    height: 600px;
    margin: 10px auto;
}
.comments{
    width: 100%;
    height:250px;
    margin: 10px auto;
}
.article-left,.comment-left{
    /*height:auto!important;*/
    height: inherit;
    border: 1px solid slategray;
    background-color: #EFF4FB;
}
.article-right,.comment-right{
    /*height:auto!important;*/
    height: inherit;
    background-color: #fff;
}
.article-right .top{
    margin-top: 0px;
    border-top: 1px solid slategray;
    border-right: 1px solid slategray;
    background-color: #EFFAFB;
}
.comment-right .top{
    margin-top: 0px;
    border-top: 1px solid slategray;
    border-right: 1px solid slategray;
    background-color: #EFFAFB;
}
.article-right .bottom{
	width: 100%;
    border-top: 1px solid slategray;
    border-right: 1px solid slategray;
    border-bottom: 1px solid slategray;
    background-color: #EFF4FB;
}
.comment-right .bottom{
	width: 100%;
    border-top: 1px solid slategray;
    border-right: 1px solid slategray;
    border-bottom: 1px solid slategray;
    background-color: #EFF4FB;
}